header {
    margin: 0;
    padding: 0;
    width: 100%;
}

.cabecera{
    height: 250px;
    background-color: black;        
}

.cabecera img {
    width: 430px;
    display: block;
    margin: 0 auto; 
}

.titulo{
    font-size: 20px;   
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    float: left;
    border-bottom: 1px solid black;
    width: 100%;
}

.menu{
    float: right;
}

.menu ul{
    float: right;
    list-style: none;
}

.menu ul li{
   display: inline-block;
   margin-right: 28px; 
}

.menu ul li a {
    font-size: 120%;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    transition: font-size 0.3s;
}

.menu ul li a:hover{
    font-size: 125%;
    color: green;
}

.pre-entrada h1{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-entrada h2{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-entrada img {
    width: 50%; 
    margin-top: -70px; 
    max-width: 100%;  
    height: auto;
    opacity: 0;
    animation: fadeIn 2s forwards; 
}

.titulocentral{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 200%;
    color: black;
    margin-top: 50px;
    text-align: left;
}

.pre-contenido {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
    margin-left: 52%;
    line-height: 25px;
    opacity: 0; 
    animation: fadeIn 2s forwards; 
    height: 5px;
}

.contenido{
    background-image: linear-gradient(50deg, rgb(255, 255, 255), rgb(209, 209, 209)75%)
}

.contenido h2{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;
}

.contenido h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
}

.contenido p{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 19px;
    color: black;
    text-align: left;
} 

.contenido img{
    width: 50%;
    transition: width 0.3s;
    margin-left: 15%;
}

.contenido img:hover{
    width: 55%;
}

.final{
    background-image: linear-gradient(50deg, rgb(95, 31, 121), rgb(220, 98, 236)75%)
}

.final h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    border-top: 1px solid black;
    font-size: 40px;
    color: black;
    text-align: center;
    
}

.final p{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 120%;
    color: black;
    text-align: left;
    margin-left: 40%; 
    height: 25%;  
    line-height: 19px; 
}

.final img{
    width: 33%;
    height: 25%; 
    margin-top: -50%;
    margin-left: 3%;
    transition: width 0.3s;
}

.final img:hover{
    width: 34%;
}

.piepag {
    background-color: rgb(196, 195, 195);        
}

.piepag p{
    font-family: 'Arial';
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.piepag img{
    width: 65px;
    transition: width 0.3s;
}

.piepag img:hover{
    width: 70px;
}

/* Sección 2 */

.contenidopt1 h2 {
    margin-top: 100px;
    font-size: 75%;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-entrada h2{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.contenidopt1 h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
    margin-top: -50px;
}

.contenidopt1 video{
    width: 45%; 
    margin-top: -50px; 
    max-width: 100%;  
    height: auto;
}

.contenidopt1 p{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    margin-top: -25%;
    font-size: 150%;
    color: black;
    text-align: left;
    margin-left: 46%;
    line-height: 20px;
}

.contenidopt2 h2{
    margin-top: 150px; 
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}

.contenidopt2 img{
    width: 50%;
    margin-top: 2%;
    transition: width 0.9s;
    margin-left: 30%;
    opacity: 0; 
    animation: fadeIn 2s forwards;
}

.contenidopt2 ul{
    float: left;
    list-style: none;
} 

.contenidopt2 h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
    list-style: none;
}

.introduccion{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 32px;
    color: black;
    text-align: center;
}

.contenidopt2 p ul{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 90px;
    color: black;
    text-align: left;
    list-style: none;
}

.contenidopt2 ul li p{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 17px;
    color: black;
    text-align: left;
    list-style: none;
}

.contenidopt3 h2{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
}

.contenidopt3 p{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: left; 
}

.contenidopt3 table{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-left: 40%; 
}

.contenidopt3 table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}

.contenidopt3 table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.contenidopt2{
    background-image: linear-gradient( white 5%, rgb(92, 241, 229)75%, white)
}

.contenidopt2 ul{
    background-image: linear-gradient(150deg,rgb(255, 255, 255)5%, rgb(98, 245, 135)75%,
    rgb(175, 248, 175))
}

/* Sección 3 */

.pre-entrada3 h2{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-entrada3 h3{
    margin-top: -60px;
    font-size: 150%;
    text-align: left;
    font-family: 'Tahoma';
    font-weight: bold
}


.pre-entrada3 p{
    font-size: 120%;
    text-align: left;
    font-family: Tahoma;
    font-weight: bold
}

.album1 h2 {
    font-size: 120%; 
    text-align: left; 
    font-family: 'Franklin Gothic Medium'; 
    font-weight: bold; 
    margin-left: 2%;
    color: rgb(213, 245, 239); 
    text-shadow: 
    1px 1px 2px black,   
    -1px -1px 2px black, 
    1px -1px 2px black,  
    -1px 1px 2px black;  
}

.album1 img{
    width: 30%;
    margin-left: 5%;
}

.album1 p{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 100%;
    margin-left: 40%;
    margin-top: -25%;
    line-height: 20px;
    height: 25%;
}

.album1 a{
    margin-left: 60%;
    margin-top: -5%;
}

.enlace img{
    width: 17%;
    transition: width 0.3s;
}

.enlace img:hover{
    width: 19%;
}

.album1{
    background-image: linear-gradient(25deg, white 1%, rgb(164, 241, 76)50%,
    rgb(76, 241, 84)50%, white)
}

.album2{
    margin-top: 12%;
}

.album2 h2 {
    font-size: 120%; 
    text-align: left; 
    font-family: 'Franklin Gothic Medium';
    font-weight: bold; 
    margin-left: 2%;
    color: rgb(243, 219, 219); 
    text-shadow: 
    1px 1px 2px black, 
    -1px -1px 2px black, 
    1px -1px 2px black, 
    -1px 1px 2px black; 
}

.album2 img{
    width: 30%;
    margin-left: 5%;
}

.album2 p{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 100%;
    margin-left: 40%;
    margin-top: -25%;
    line-height: 20px;
    height: 25%; 
}

.album2 a{
    margin-left: 60%;
    margin-top: -5%;
}

.enlace img{
    width: 17%;
    transition: width 0.3s;
}

.enlace img:hover{
    width: 19%;
}
.album2{
    background-image: linear-gradient(25deg, white 1%, rgb(177, 166, 166)50%,
    rgb(241, 76, 76)50%, white)
}

.album3{
    margin-top: 12%;
}

.album3 h2 {
    font-size: 120%;
    text-align: left; 
    font-family: 'Franklin Gothic Medium';
    font-weight: bold; 
    margin-left: 2%;
    color: rgb(234, 255, 157); 
    text-shadow: 
    1px 1px 2px black,   
    -1px -1px 2px black, 
    1px -1px 2px black,  
    -1px 1px 2px black;  
}

.album3 img{
    width: 30%;
    margin-left: 5%;
}

.album3 p{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 100%;
    margin-left: 40%;
    margin-top: -25%;
    line-height: 20px;
    height: 25%;
}

.album3 a{
    margin-left: 60%;
    margin-top: -5%;
}

.enlace img{
    width: 17%;
    transition: width 0.3s;
}

.enlace img:hover{
    width: 19%;
}

.album3{
    background-image: linear-gradient(25deg, white 1%, rgb(253, 106, 106)50%,
    rgb(233, 193, 107)50%, white)
}

.despedida{
    margin-top: 12%;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 100%;
    line-height: 20px;
    height: 25%; 
}

.despedida img {
    width: 35%;
    margin-left: 35%;
    transition: width 0.3s;
}

.despedida img:hover{
    width: 38%;
}

/* Sección Final */

.pre-entrada3 form{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.pre-entrada3 form{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}

.pre-entrada3 form{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.pre-entrada3 form{
    background-image: linear-gradient(25deg, white 1%, rgb(106, 219, 253)5%,
    rgb(178, 233, 107)50%, white)
}
