 header {
    margin: 0;
    padding: 0;
    width: 100%;
}

.cabecera{
    height: 250px;
    background-color: black;        
}

.cabecera img {
    width: 430px;
    display: block;
    margin: 0 auto; 
}

.titulo{
    font-size: 20px;   
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    float: left;
    border-bottom: 1px solid black;
    width: 100%;
}

.menu{
    float: left;
}

.menu ul{
    float: left;
    list-style: none;
}

.menu ul li{
   display: inline-block;
   margin-right: 200px; 
}

.menu ul li a {
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.menu ul li a:hover{
    font-size: 1.2em;
    color: green;
}

.pre-entrada h1{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-contenido{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;
    margin-left: 660px;
}

.pre-entrada img{
    margin-top: -615px; 
    width: 650px;
}

.contenido h2{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;
}

.contenido h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
}

.contenido p{
    font-family: 'Arial';
    font-size: 19px;
    color: black;
    text-align: left;
}

.contenido img{
    width: 650px;
    transition: width 0.3s;
}

.contenido img:hover{
    width: 675px;
}

.final h3{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    border-top: 1px solid black;
    font-size: 40px;
    color: black;
    text-align: center;
}

.final p{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: left;
    margin-left: 677px;
    margin-top: 100px;
}

.final img{
    margin-top: -300px; 
    width: 650px;
}

.piepag {
    background-color: rgb(196, 195, 195);        
}

.piepag p{
    font-family: 'Arial';
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.piepag img{
    width: 65px;
    transition: width 0.3s;
}

.piepag img:hover{
    width: 70px;
}

.contenidopt1 h2 {
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}

.pre-entrada h2{
    margin-top: 100px;
    font-size: 75px;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold
}